@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}


h1 {
    font-family: 'Clash Display', sans-serif;
}

html, body {
    overscroll-behavior-y: contain;
    overscroll-behavior-x: none;
    user-select: none;
    -webkit-user-drag: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2937;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: #1f2937 !important;
}

.router-link-exact-active  {
    color: #4AFF93 !important;
}

@media (prefers-color-scheme: dark) {

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        -webkit-box-shadow: 0 0 0 30px #1A232E inset !important;
        -webkit-text-fill-color: white !important;
    }
}

/* Transition slide up */

.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.2s;
}
.slide-up-enter-from{
    opacity: 0.5;
    transform: translate3d(0, -1rem, 0);
}
.slide-up-leave-to {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
}


/* Transition slide down */

.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 0.2s;
}
.slide-down-enter-from{
    transform: translateY(1rem);
}
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(1rem);
}

.page-enter-active {
  transition: all 0.2s ease-out;
}
.page-leave-active {
 /*  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); */
}
.page-enter-from,
.page-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
/*
.layout-enter-active {
  transition: all 0.1s ease-out;
}
.layout-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.layout-enter-from,
.layout-leave-to {
  transform: translateY(-20px);
  opacity: 0;
} */

.opacity-enter-active {
  transition: all 0.06s ease-out;
}
.opacity-leave-active {
 /*  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1); */
}
.opacity-enter-from,
.opacity-leave-to {
  opacity: 0;
}

.swipe-right-enter-active {
    transition: all 0.2s ease-out;
}

.swipe-right-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.swipe-right-enter-from,
.swipe-right-leave-to {
    transform: translateX(30%);
    opacity: 0;
}

