@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    font-family: 'SF Pro Display', sans-serif;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2937;
    }
}

.slide-down-enter-active,
.slide-down-leave-active {
    transition: all 0.2s;
}
.slide-down-enter-from{
    transform: translateY(-1rem);
}
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(0);
}