@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fff;
    font-family: 'SF Pro Display', sans-serif;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1f2937;
    }
}
 